AppTest/Connected Services/WCFCursosClient/WCFCursos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51468/Servicios/WCFCursos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFPrueba" />
  <xs:element name="getList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFPrueba" minOccurs="0" name="getListResult" nillable="true" type="q1:ArrayOfListCurso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFPrueba" minOccurs="0" name="getIdResult" nillable="true" type="q2:Curso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFPrueba" minOccurs="0" name="Curso" nillable="true" type="q3:Curso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllModalidades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllModalidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFPrueba" minOccurs="0" name="getAllModalidadesResult" nillable="true" type="q4:ArrayOfCatalogo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPaises">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPaisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFPrueba" minOccurs="0" name="getAllPaisesResult" nillable="true" type="q5:ArrayOfCatalogo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCiudades">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCiudadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFPrueba" minOccurs="0" name="getAllCiudadesResult" nillable="true" type="q6:ArrayOfCatalogo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>